.alert-1 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success-1 {
  background-color: var(--color-success-bg);
  border-color: var(--color-success-border);
  color: var(--color-success-text);
}

.alert-error-1 {
  background-color: var(--color-error-bg);
  border-color: var(--color-error-border);
  color: var(--color-error-text);
}

.alert-info-1 {
  background-color: var(--color-info-bg);
  font-weight: bold;
  border-color: var(--color-info-border);
  color: var(--color-info-text);
}